html, body {
    width: 100%;
    height: 100%;
    background-color: #4B5683;
}

.avatar-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.avatar-heading {
    position: sticky;
    top:20px;
    left: 80%;
    width: max-content;
    display: grid;
    grid-template-columns: 300px 500px 300px ;
    justify-content: flex-start;
    column-gap: 30px;
    row-gap: 5px;
    grid-template-rows: 70px 70px 70px ;

}
/* .container-top-corner{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
    float: left;

}
.container-top-corner  */
.bubble-corner-top{
    position: absolute;
    height: 25%;
    width: 15%;
    top:5%;
    left:5%;
    z-index: 2;
}
.back-btn{
    position: absolute;
    height: 65px;
    width: 93px;
    z-index: 3;
    top: 9%;
    left: 7.6%;
    font-size: 20px;
    border-radius: 50%;
    background: #7F89B4;
    font-weight: 400px;
    box-shadow: 1px 3px 10px #000000;
}
.back-btn:hover{
    background: #afb0d0;
}
.heading-title{
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    font-size: 50px;
    color: #F3DA91;
}
.heading-subtitle{
    grid-row: 2;
    grid-column: 2;
    padding: 0%;
}
.nickname-input{
    grid-row: 3;
    grid-column: 2;
    height: 35px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    color: #000000;

}
.avatar-content{
    padding-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, 180px);
    grid-template-columns: repeat(4, 180px);
}
.avatar-content .avatar-circles{
    display: flex;
    justify-content: center;
   
}
.avatar-circles .avatar-img-btn{
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-width: 6px;
    
}
.avatar-img-btn .avatar-images{
    width: 90%;
    height: 70%;
    align-self: center;
}
.avatar-img-btn:hover{
    border-color: #afb0d0;
}
.avatar-img-btn:focus{
    border-color: #F7DA86;
}
/* .container-btm-corner{
    height: 226px;
    position: relative;
    float:right ;
} */
 .bubble-corner-btm{
    position:absolute;
    height: 22%;
    width: 10%;
    bottom:5%;
    right:5%;
    z-index: 2;
}