html, body {
    width: 100%;
    height: 100%;
    background-color: #4B5683;
}

.avatar-container{
    display: flex;
    flex-direction: column;

}
.avatar-heading {
    position: sticky;
    top:20px;
    left: 80%;
    width: max-content;
    display: grid;
    grid-template-columns: 300px 500px 300px ;
    justify-content: flex-start;
    column-gap: 30px;
    row-gap: 5px;
    grid-template-rows: 70px 70px 70px ;

}
.container-top-corner{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 226px;
    position: relative;
    float: left;

}
.container-top-corner .bubble-corner-top{
    margin-top: 20px;
    width: 210px;
    height: 226px;
}
.container-top-corner .back-btn{
    position: absolute;
    height: 87px;
    width: 87px;
    top: 30%;
    left: 40%;
    transform: translate(-45%, -15%);
    -ms-transform: translate(-45%,-10%);
    font-size: 30px;
    border-radius: 50%;
    background: #7F89B4;
    font-weight: 400px;
    box-shadow: 1px 3px 10px #000000;
}
.back-btn:hover{
    background: #afb0d0;
}
.heading-title{
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    font-size: 50px;
    color: #F3DA91;
}
.heading-subtitle{
    grid-row: 2;
    grid-column: 2;
    padding: 0%;
}
.nickname-input{
    grid-row: 3;
    grid-column: 2;
    height: 35px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    color: #000000;

}
.avatar-content{
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4, 180px);
    grid-template-columns: repeat(4, 180px);
}
.avatar-content .avatar-circles{
    background-color: #FFFFFF;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-content: center;
}
.avatar-content .avatar-images{
    width: 60%;
    height: 60%;
    align-self: center;
}
