html, body {
    width: 100%;
    height: 100%;
    background-color: #4B5683;
}
/* .avatar-heading {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.avatar-container{
    /* align-items: center; */
    display: flex;
    flex-direction: column;

}
.avatar-heading {
    position: sticky;
    top:0;
    left: 80%;
    width: max-content;
    display: flex;
    flex-direction: row;
}
.container-top-corner{
    height: 226px;
    position: relative;
    width: 50%;
    float: left;
    margin-left: -200px;
    justify-content: flex-start;

}
.container-top-corner .bubble-corner-top{
    justify-content: left;
    margin-top: 20px;
    margin-right: 300px;
    width: 210px;
    height: 226px;
}
.container-top-corner .back-btn{
    position: absolute;
    height: 87px;
    width: 87px;
    top: 30%;
    left: 22%;
    transform: translate(-45%, -15%);
    -ms-transform: translate(-45%,-10%);
    font-size: 30px;
    border-radius: 50%;
    background: #7F89B4;
    font-weight: 300px;
}
.heading-text{
    display: flex;
    flex-direction: column;
}
.heading-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: #F3DA91;
}

.avatar-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
