.avatar-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #4B5683;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bubble-top {
    position: absolute;
    height: 226px;
    width: 210px;
    top: 50px;
    left: 50px;
}

.bubble-bot {
    position: absolute;
    height: 179px;
    width: 134px;
    bottom: 50px;
    right: 50px;
}

.back-btn {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 80px;
    left: 80px;
    font-size: 50px;
    background-color: #7F89B4;
    border-radius: 50%;
    padding: 0;
}

.back-btn:hover {
    border-color: transparent;
}

.bubble-corner-btm {
    position: absolute;
    height: 22%;
    width: 10%;
    bottom: 5%;
    right: 5%;
    z-index: 2;
}

.next-btn {
    position: absolute;
    height: 115px;
    width: 115px;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    background-color: #7F89B4;
    border-radius: 50%;
    padding: 0;
}

.next-btn:hover {
    border-color: transparent;
}

.next-btn:disabled {
    cursor: not-allowed;
}

.start-game-btn {
    color: #4B5683;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F7DA86;
    border-radius: 50px;
    font-size: 20px;
    padding: 15px 25px 15px 25px;
}

.start-game-btn:disabled {
    background-color: #bdbbbb;
    color: #696565;
    cursor: not-allowed;
}

/* ------------ AVATAR PAGE CONTENT ---------- */
.avatar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #4B5683;
}

/* --- HEADINGS ---- */
.heading-title {
    text-align: center;
    font-size: 50px;
    color: #F3DA91;
    padding: 0%;
    margin-top: 5%;
    margin-bottom: 0%;
}

.heading-subtitle {
    padding: 0%;
    margin: 2%;
}

.nickname-input {
    height: 35px;
    width: 50%;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    color: #000000;
}

/* --- AVATAR SELECTION ---- */
.avatar-content {
    margin: 30px 0 10px 0;
    padding-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, 180px);
    grid-template-columns: repeat(4, 180px);
}

.avatar-content .avatar-circles {
    display: flex;
    justify-content: center;
}

.avatar-circles .default-avatar-img-btn {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-width: 8px;
    border-color: #FFFFFF;
}

.avatar-circles .selected-avatar-img-btn {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-width: 8px;
    border-color: #F7DA86;
}

.default-avatar-img-btn:disabled {
    background-color: #bdbbbb;
    border-color: #bdbbbb;
    cursor: not-allowed;
}

.avatar-images {
    width: 80px;
    align-self: center;
}

.default-avatar-img-btn:hover {
    border-color: #F7DA86;
}