body {
    padding-bottom: 50px;
}

.game-page {
    width: 100vw;
    height: 100vh;
    background-color: #A5ACCD;
    display: flex;
    padding-bottom: 50px;
}

.div-1 {
    width: 25%;
    height: fit-content;
    margin: 50px;

}

.div-2 {
    width: 63%;
    height: fit-content;
    padding: 50px;
    overflow: auto;
}

.div-3 {
    width: 12%;
    height: fit-content;
    padding: 45px 25px 45px 0;
}

/* DIV 1 */
.container {
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    padding: 15px 15px 10px 15px;
}

.div-players {
    height: fit-content;
    width: 100%;
    margin: 35px 0 15px 0;
}

.current-player {
    height: 150px;
    width: 150px;
    background-color: white;
    border: 5px solid #4B5683;
    border-radius: 50%;
    display: inline-block;
}

.current-player-tag {
    height: fit-content;
    color: #4B5683;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F7DA86;
    border-radius: 20px;
    padding: 5px;
}

.next-players {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 10px 5px 10px;
    background-color: white;
}

/* DIV 2 */
table {
    table-layout: fixed;
    width: 100%;
    background-color: #4B5683;
    border-radius: 15px;
    padding: 8px;
    border-spacing: 0;
    border-collapse: separate;
}

td {
    width: calc(100% / 10);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    padding-bottom: calc(100% / 10);
}

table td {
    border: 1px solid white;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

table td::before {
    content: "";
    display: block;
}

.renderBoard {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* DIV 3 */
.div-3 button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 10px 5px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.div-3 button:hover {
    filter: brightness(50%);
    border: 3px solid #4B5683;
}

.div-3 button:focus {
    outline: none;
    border: none;
}

.home {
    background-image: url("../images/home.png");
}

.settings {
    background-image: url("../images/settings.png");
}

.tutorial {
    background-image: url("../images/tutorial.png");
}

.white-bgr {
    background-color: white;
}

.gold-dark-bgr {
    background-color: #F7DA86;
}

.purple-light-bgr {
    background-color: #7F89B4;
}

.justify-right {
    display: flex;
    justify-content: right;
}

.justify-left {
    display: flex;
    justify-content: left;
}
