body {
    padding-bottom: 50px;
}
.game-page {
    width: 100vw;
    height: 100vh;
    background-color: #A5ACCD;
    display: flex;
    padding-bottom: 50px;
}

.div-1 {
    width: 30%;
    /* height: fit-content; */
    margin: 50px;

}

.div-2 {
    width: 60%;
;
    padding: 50px;
    overflow: auto;
}

table {
    table-layout: fixed;
    width: 100%;
    background-color: #4B5683;
    border-radius: 15px;
    padding: 8px;
    border-spacing: 0;
    border-collapse: separate;
  }
  
  td {
    width: calc(100% / 10);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    padding-bottom: calc(100% / 10);
  }
  
  table td {
    border: 1px solid white;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }
  
  table td::before {
    content: "";
    display: block;
  }
  
  .renderBoard {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.div-2 {
    width: 60%;
    padding: 70px;
}

.div-3 {
    width: 10%;
    padding: 45px 25px 45px 0;
}

.dice-square {
    width: 100%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    padding: 20px 0 20px 0;
}

.roll-dice-msg {
    color: #4B5683;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
}

.div-players {
    height: fit-content;
    width: 100%;
    margin: 35px 0 15px 0;
}

.current-player {
    height: 150px;
    width: 150px;
    background-color: white;
    border: 5px solid #4B5683;
    border-radius: 50%;
    display: inline-block;
}

.current-player-tag {
    height: fit-content;
    color: #4B5683;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F7DA86;
    border-radius: 20px;
    padding: 5px;
}

.circle-80 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 10px 5px 10px;
}

.white-bgr {
    background-color: white;
}

.gold-dark-bgr {
    background-color: #F7DA86;
}

.purple-light-bgr {
    background-color: #7F89B4;
}

.home {
    background-image: url("../images/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:60%;
 }

.settings {
    background-image: url("../images/settings.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:60%;
 }

.tutorial {
    background-image: url("../images/tutorial.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:60%;
 }

 .right {
    display: flex;
    /* align-items: right; */
    justify-content: right;
 }

 .left {
    display: flex;
    /* align-items: left; */
    justify-content: left;
 }

 .btn:hover {
    filter:brightness(50%);
    border: 3px solid #4B5683;
 }