.game-page {
    width: 100vw;
    height: 100vh;
    background-color: #7D87B8;
    display: flex;
}

.div-1 {
    /* background-color: black; */
    background-color: #7D87B8;
    width: 30%;
    padding: 50px;
}

.div-2 {
    width: 60%
}

.div-3 {
    width: 10%
}

.dice-square {
    width: 100%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    padding: 20px 0 20px 0;
}

.roll-dice-msg {
    color: #4B5683;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
}

.div-players {
    height: fit-content;
    width: 100%;
    margin: 35px 0 15px 0;
}

.current-player {
    height: 150px;
    width: 150px;
    background-color: white;
    border: 5px solid #4B5683;
    border-radius: 50%;
    display: inline-block;
}

.other-players {
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 10px 5px 10px;
}