.game-page {
    width: 100vw;
    height: 100vh;
    background-color: #7D87B8;
    display: flex;
}

.div-1 {
    width: 30%
}

.div-2 {
    width: 60%;
    padding: 50px;
    overflow: auto;
}

table {
    table-layout: fixed;
    width: 100%;
    background-color: #4B5683;
    border-radius: 15px;
    padding: 8px;
    border-spacing: 0;
    border-collapse: separate;
  }
  
  td {
    width: calc(100% / 10);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    padding-bottom: calc(100% / 10);
  }
  
  table td {
    border: 1px solid white;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }
  
  table td::before {
    content: "";
    display: block;
  }
  
  .renderBoard {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.div-2 {
    width: 60%;
    padding: 70px;
}

.div-3 {
    width: 10%
}

.dice-square {
    background-color: white;
}