
.body-container{
    height: 100vh;
    width: 100%;   
    display: flex;
    flex-direction: column;
    background-color: #4B5683;
}

.title{
    position:relative;
    align-self: center;
    color: #fff;
    font-size: 60px;
    margin-top:10%
}

.button-start{
    position:relative;
    align-self:center;
    border-radius: 15px;   /* ^radius = rounder button */
    font-size: 30px;
    top: 50%;
    transform: translateY(350%);
    z-index: 3;
}  

.waves-container{
    
    position:absolute;
    height: 60%;
    width: 100%;
    left:0;
    bottom:0;
    z-index: 2;

}
