
.html, body{
    height: 100%;
    width: 100%;   
    background-color: #4B5683;
    z-index: 1;

}

.body-container{
    height: 100vh;
    width: 100%;   
    display: flex;
    flex-direction: column;
}

.title{
    position:relative;
    align-self: center;
    color: #fff;
    font-size: 60px;
    margin-top:15%
}

.button-start{
    position:fixed;
    top:65%;
    left:43.6%;
    border-radius: 15px;   /* ^radius = rounder button */
    font-size: 30px;
    z-index: 3;
}  

.waves-container{
    
    position:absolute;
    height: 60%;
    width: 100%;
    left:0;
    bottom:0;
    z-index: 2;

}
