.player-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #A5ACCD;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.bubble-top{
    position:absolute;
    height: 226px;
    width: 210px;
    top: 50px;
    left: 50px;
    z-index: 2;
}

.bubble-bot{
    position:absolute;
    height: 179px;
    width: 134px;
    bottom: 50px;
    right: 50px;
    z-index: 2;
}

.home-btn {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 80px;
    left: 80px;
    font-size: 50px;
    background-color: #7F89B4;
    border-radius: 50%;
    padding: 0;
    z-index: 4;
}

.avatar-btn {
    position: absolute;
    height: 115px;
    width: 115px;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    background-color: #7F89B4;
    /* background-color: transparent; */
    border-radius: 50%;
    padding: 0;
    z-index: 4;

}

/*///////////////////////////Player bubble////////////////////////////////*/
.bubble-p{
    position:relative;
    z-index: 3;
    width: 470px;
    height: auto;

    transform:translate(-60%,-100%);
    background-color: #4B5683;
    border-radius: 50%;

}
.pIncrease-btn{
    /* position: relative;
    z-index: 5; */
    font-size: 50px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 0;
    background-color: transparent;

    /* transform:translate(50%,150%) */
}
.pDecrease-btn{
    position: relative;
    z-index: 5;
    font-size: 50px;
    height: 30%;
    width: 8%;
    border-radius: 50%;
    padding: 0%;
    background-color: transparent;
    /* transform:translate(-350%,150%) */
}
.player-count{
    position:relative;
    left:25%;     
    top:40%;
    font-size: 60pt;
    z-index: 4;
    transform: translate(-45%,-180%);
}


/*///////////////////////////Computer bubble////////////////////////////////*/
.bubble-c{
    position:relative;
    z-index: 3;
    width: 470px;
    height: auto;
    
    transform:translate(70%,-230%)
}
.cIncrease-btn{
    position: relative;
    z-index: 5;

    font-size: 50px;
    height: 30%;
    width: 8%;
    border-radius: 50%;
    padding: 0%;
    background-color: transparent;
    transform:translate(360%,100%)
}
.cDecrease-btn{
    position: relative;
    z-index: 5;

    font-size: 50px;
    height: 30%;
    width: 8%;
    border-radius: 50%;
    padding: 0%;
    background-color: transparent;
    transform:translate(-20%,100%)
}

.com-count{
    position:relative;
    right:20%;     /*    12.5,35 */
    top:15%;
    font-size: 60pt;
    z-index: 4;
    transform :translate(42%,-275%)
}

