.player-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #A5ACCD;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.player-container p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.bubble-top {
    position: absolute;
    height: 226px;
    width: 210px;
    top: 50px;
    left: 50px;
}

.bubble-bot {
    position: absolute;
    height: 179px;
    width: 134px;
    bottom: 50px;
    right: 50px;
}

.home-btn {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 80px;
    left: 80px;
    font-size: 50px;
    background-color: #7F89B4;
    border-radius: 50%;
    padding: 0;
}

.avatar-btn {
    position: absolute;
    height: 115px;
    width: 115px;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    background-color: #7F89B4;
    border-radius: 50%;
    padding: 0;
}

.bubble-p {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 150px;
    bottom: 50px;
    background-color: #4B5683;
    border-radius: 50%;
}

.bubble-c {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50px;
    right: 150px;
    background-color: #4B5683;
    border-radius: 50%;
}

.bubble-flex {
    display: flex;
    align-items: center;
}

.player-type {
    font-size: 30pt;
    font-weight: bold;
    margin: 50px 0 0 0;
}

.increase-btn {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 0 0 0 20px;
    background-color: transparent;
}

.increase-img {
    height: 100px;
    width: 50px;
    padding: 0;
    background-color: #4B5683;
}

.decrease-btn {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 0 20px 0 0;
    background-color: transparent;
}

.decrease-img {
    height: 100px;
    width: 50px;
    padding: 0;
    background-color: #4B5683;
}

.player-count {
    position: relative;
    font-size: 150pt;
    padding: 0 50px 0 50px;
}