.background{

    z-index: 1;

}

.player-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #8e97c9;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}




.bubble-top{
    position:absolute;
    height: 26%;
    width: 15%;
    top:5%;
    left:5%;
    z-index: 2;
}

.bubble-bot{
    position:absolute;
    height: 22%;
    width: 10%;
    bottom:5%;
    right:5%;
    z-index: 2;
}

.avatar-btn{
    position: absolute;
    z-index: 4;
    bottom:6%;
    right: 5%;
    font-size: 50px;
    height: 12%;
    width: 8%;
    background-color: transparent;
    border-radius: 50%;
    padding: 0%;
}

.home-btn{
    position: absolute;
    z-index: 4;
    top:7%;
    left: 6.5%;
    font-size: 50px;
    height: 12%;
    width: 8%;
    background-color: transparent;
    border-radius: 50%;
    padding: 0%;

}
/*///////////////////////////Player bubble////////////////////////////////*/
.bubble-p{
    position:absolute;
    z-index: 3;
    height: 50%;
    width: 35%;
    left:10%;
    top:35%;
}
.pIncrease-btn{
    position: absolute;
    z-index: 5;
    top:45%;
    left: 35%;
    font-size: 50px;
    height: 30%;
    width: 8%;
    border-radius: 50%;
    padding: 0%;
    background-color: transparent;
}
.pDecrease-btn{
    position: absolute;
    z-index: 5;
    top:45%;
    left: 12.5%;
    font-size: 50px;
    height: 30%;
    width: 8%;
    border-radius: 50%;
    padding: 0%;
    background-color: transparent;
}
.players-text{
    position:absolute;
    left:21.5%;
    top:37.5%;
    font-size: 25pt;
    z-index: 6;
}
.player-count{
    position:absolute;
    left:25%;     /*    12.5,35 */
    top:40%;
    font-size: 60pt;
    z-index: 6;
}


/*///////////////////////////Computer bubble////////////////////////////////*/
.bubble-c{
    position:absolute;
    z-index: 3;
    height: 50%;
    width: 35%;
    left:60%;
    top:10%;
}
.cIncrease-btn{
    position: absolute;
    z-index: 5;
    top:20%;
    left: 85%;
    font-size: 50px;
    height: 30%;
    width: 8%;
    border-radius: 50%;
    padding: 0%;
    background-color: transparent;
}
.cDecrease-btn{
    position: absolute;
    z-index: 5;
    top:20%;
    left: 62.5%;
    font-size: 50px;
    height: 30%;
    width: 8%;
    border-radius: 50%;
    padding: 0%;
    background-color: transparent;
}
.com-text{
    position:absolute;
    right:12%;
    top:12.5%;
    font-size: 25pt;
    z-index: 6;
}

.com-count{
    position:absolute;
    right:20%;     /*    12.5,35 */
    top:15%;
    font-size: 60pt;
    z-index: 6;
}