.player-container{


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #7D87B8;
    justify-content: center;
    align-items: center;
    background-image:  url("../assets/player-background.png");
    z-index: 1;

}


.bubble-top{
    position:absolute;
    
    height: 26%;
    width: 15%;
    top:5%;
    left:5%;
    z-index: 2;
}

.bubble-bot{
    position:absolute;
    height: 22%;
    width: 10%;
    bottom:5%;
    right:5%;
    z-index: 2;
}

.avatar-btn{
    position: absolute;
    z-index: 4;
    bottom:6%;
    right: 5%;
    font-size: 50px;
    height: 12%;
    width: 8%;
    background-color: transparent;
    border-radius: 50%;
    padding: 0%;
}

.home-btn{
    position: absolute;
    z-index: 4;
    top:7%;
    left: 6.5%;
    font-size: 50px;
    height: 12%;
    width: 8%;
    background-color: transparent;
    border-radius: 50%;
    padding: 0%;

}
/*///////////////////////////Player bubble////////////////////////////////*/
.bubble-p{
    position:relative;
    z-index: 3;
    width: 470px;
    height: auto;

    transform:translate(-60%,-100%)

}
.pIncrease-btn{
    position: relative;
    z-index: 5;
    font-size: 50px;
    height: 30%;
    width: 8%;
    border-radius: 50%;
    padding: 0%;
    background-color: transparent;

    transform:translate(50%,150%)
}
.pDecrease-btn{
    position: relative;
    z-index: 5;
    font-size: 50px;
    height: 30%;
    width: 8%;
    border-radius: 50%;
    padding: 0%;
    background-color: transparent;
    transform:translate(-350%,150%)
}
.player-count{
    position:relative;
    left:25%;     
    top:40%;
    font-size: 60pt;
    z-index: 4;
    transform: translate(-45%,-180%);
}


/*///////////////////////////Computer bubble////////////////////////////////*/
.bubble-c{
    position:relative;
    z-index: 3;
    width: 470px;
    height: auto;
    
    transform:translate(70%,-230%)
}
.cIncrease-btn{
    position: relative;
    z-index: 5;

    font-size: 50px;
    height: 30%;
    width: 8%;
    border-radius: 50%;
    padding: 0%;
    background-color: transparent;
    transform:translate(360%,100%)
}
.cDecrease-btn{
    position: relative;
    z-index: 5;

    font-size: 50px;
    height: 30%;
    width: 8%;
    border-radius: 50%;
    padding: 0%;
    background-color: transparent;
    transform:translate(-20%,100%)
}

.com-count{
    position:relative;
    right:20%;     /*    12.5,35 */
    top:15%;
    font-size: 60pt;
    z-index: 4;
    transform :translate(42%,-275%)
}

