
.html, body{
    height: 50%;
    width: 100%;   
    background-color: #4B5683;
    z-index: -1;

}

.body-container{
    height: 100vh;
    width: 100%;   
    display: flex;
    flex-direction: column;
}

.title{
    align-self: center;
    color: #fff;
    font-size: 40px;
    margin-top:20%
}

.button-start{
    position:fixed;
    top:65%;
    left:45%;
    border-radius: 15px;   /* ^radius = rounder button */
    font-size: 30px;
}  

.waves-container{
    
    background-image: "../src/assets/start_waves.png";
    background-size: cover;
    background-position: center;
    z-index: 2  ;
}