.tutorial-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #7D87B8;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.tutorial-popup h1 {
    color: #F3DA91;
    font-size: 50px;
}

.tutorial-content {
    display: flex;
    padding-right: 80px;
    padding-left: 80px;
}

.example-image {
    flex: 1;
    width: 360px;
    height: 360px;
}

.instruction {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9EDC8;
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 300px;
    max-width: 300px;
    max-height: 500px;
    padding: 30px;
    font-weight: 600;
    color: #4B5683;
    font-size: 20px;
}