.tutorial-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #7D87B8;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}

.popup-inner {
    background-color: #4B5683;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 550px;
    border-radius: 20px;
}

.popup-inner .close-btn {
    position: absolute; 
    top: 16px;
    left: 16px;
}

.tutorial-popup h1 {
    color: #F3DA91;
    font-size: 50px;
}

.tutorial-content {
    display: flex;
    padding-right: 80px;
    padding-left: 80px;
}

.example-image {
    flex: 1;
}

.instruction {
    flex: 2;
    background-color: #F9EDC8;
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 500px;
    padding: 30px;

    font-weight: 600;
    color: #4B5683;
    font-size: 20px;

}