.home-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url( "../assets/waves_background.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center top;
    background-color: #4B5683;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-page h1 {
    position: relative;
    align-self: center;
    color: white;
    font-size: 80px;
    margin-block-start: 140px;
    margin-block-end: 50px;
}

.button-start {
    position: relative;
    height: '75px';
    width: '150px';
    border-radius: 50px;
    font-size: 30px;
    background-color: white;
    border: 1px solid #4B5683;
    color: #4B5683;
}

.button-start:hover {
    background-color: #A5ACCD;
    border: 1px solid #4B5683;
    color: white;
}