.num-players-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #A5ACCD;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num-players-page p {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* ------------ BACK/NEXT BUTTONS ---------- */
.bubble-top {
    position: absolute;
    height: 230px;
    width: 210px;
    top: 50px;
    left: 50px;
    z-index: 2;
}

.bubble-bot {
    position: absolute;
    height: 179px;
    width: 134px;
    bottom: 50px;
    right: 50px;
    z-index: 2;
}

.back-btn {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 80px;
    left: 80px;
    font-size: 50px;
    background-color: #7F89B4;
    border-radius: 50%;
    padding: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/back_button.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.next-btn {
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    background-color: #7F89B4;
    border-radius: 50%;
    padding: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/next_button.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.next-btn:disabled {
    cursor: not-allowed;
    /* opacity: 25%; */
    background-image: url("../assets/next_button_disabled.png");
}

.next-btn-disabled-img {
    width: 50px;
    opacity: 25%;
    cursor: pointer;
}

/* ------------ NUM PLAYERS BUBBLES ---------- */
.bubbles-div {
    display: flex;
    z-index: 1;
}

.bubble-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble-p {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #4B5683;
    border-radius: 50%;
    margin-right: 25px;
}

.bubble-c {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #4B5683;
    border-radius: 50%;
    margin-left: 25px;
}

.increase-btn {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 0 0 0 20px;
    background-color: transparent;
}

.decrease-btn {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 0 20px 0 0;
    background-color: transparent;
}

.player-type {
    font-size: 30pt;
    font-weight: bold;
    margin: 50px 0 0 0;
}

.increase-img {
    height: 100px;
    width: 50px;
    padding: 0;
    background-color: #4B5683;
}

.decrease-img {
    height: 100px;
    width: 50px;
    padding: 0;
    background-color: #4B5683;
}

.player-count {
    position: relative;
    font-size: 150pt;
    padding: 0 50px 0 50px;
}

/* ------------ SMALLER SCREEN ---------- */
@media screen and (max-width: 1000px) {

    .bubble-top {
        height: 140px;
        width: 125px;
        top: 30px;
        left: 30px;
    }

    .bubble-bot {
        height: 110px;
        width: 80px;
        bottom: 30px;
        right: 30px;
    }

    .back-btn {
        height: 60px;
        width: 60px;
        top: 50px;
        left: 50px;
    }

    .next-btn {
        height: 70px;
        width: 70px;
        bottom: 30px;
        right: 30px;
    }

    .bubble-p {
        width: 300px;
        height: 300px;
        margin-right: 15px;
    }

    .bubble-c {
        width: 300px;
        height: 300px;
        margin-left: 15px;
    }

    .increase-btn {
        height: 90px;
        width: 90px;
        padding: 0 0 0 12px;
    }

    .decrease-btn {
        height: 90px;
        width: 90px;
        padding: 0 12px 0 0;
    }

    .player-type {
        font-size: 18pt;
        margin: 30px 0 0 0;
    }

    .increase-img {
        height: 60px;
        width: 30px;
    }

    .decrease-img {
        height: 60px;
        width: 30px;
    }

    .player-count {
        position: relative;
        font-size: 90pt;
        padding: 0 30px 0 30px;
    }
}