.RollDice {
    display: flex;
    flex-flow: column nowrap;
    /* min-height: 100vh; */
    border: none;
}

/* Shows each dice in one row */
.RollDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
    width: 100%;
}

/* Styling rolldice button */
.RollDice button {
    height: fit-content;
    color: #4B5683;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F7DA86;
    border-radius: 20px;
    padding: 5px;
}

/* Setting hover effect on button */
.RollDice button:hover {
    cursor: pointer;
    /* border: none; */
}

.RollDice-rolling {
    height: fit-content;
    color: #4B5683;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #A5ACCD !important;
    border-radius: 20px;
    padding: 5px;
}
