.settings-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #7D87B8;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.settings-popup h1 {
    color: #F3DA91;
    margin-block-end: 0
}

.settings-popup h2 {
    margin-block-start: 10px;
    margin-block-end: 25px;
}

.popup-inner {
    background-color: #4B5683;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 550px;
    border-radius: 20px;
    padding: 0px;
}

.popup-inner .close-btn {
    background-color: white;
    height: 20px;
    width: 20px;
    color: #4B5683;
    font-size: 50px;
    padding: 0;
    position: absolute;
    top: 25px;
    left: 30px;
}

.settings-popup h1 {
    color: #F3DA91;
    font-size: 50px;
}

.settings-popup h2 {
    color: white;
    font-size: 30px;
}

.settings-container {
    display:flex;
    align-content: center;
    justify-content: center;
    color:#F3DA91;
    font-weight: 600;
}

.vl {
    border-left: 5px solid #F3DA91;
}

.overall-volume,
.sfx-volume,
.music-volume,
.play-speed {
    display: flex;
    justify-content: left;
    align-items: left;
}

.play-speed button {
    align-items: center;
    background-color: #7F89B4;
    border: 0;
    border-radius: 80px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    line-height: 20px;
    min-height: 50px;
    min-width: 100px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    margin: 10px;
}

.play-speed button:hover {
    filter: brightness(100%);
    background-color: #F7DA86;
    color: #4B5683;
    border: solid white 2px;
}

.div-adjustments {
    align-items: center;
    width: 100%;
    margin: 0 10% 0 10%;
}


.div-exit-buttons {
    align-items: center;
    width: 40%;
    padding: 30px;
}

.div-exit-buttons button {
    align-items: center;
    background-color: #7F89B4;
    border: 0;
    border-radius: 80px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    line-height: 20px;
    min-height: 50px;
    min-width: 160px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    margin: 10px;
}

.div-exit-buttons button:hover {
    filter: brightness(100%);
    background-color: #F7DA86;
    color: #4B5683;
    border: solid white 2px;
}



.div-exit-buttons button {
    align-items: center;
    background-color: #7F89B4;
    border: 0;
    border-radius: 80px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    line-height: 20px;
    min-height: 50px;
    min-width: 160px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    margin: 10px;
}

.div-exit-buttons button:hover {
    filter: brightness(100%);
    background-color: #F7DA86;
    color: #4B5683;
    border: solid white 2px;
}