.settings-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: #7D87B8; */
    background: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.header-container {
    /* background-color: red; */
    width: 100%;
    height: fit-content;
}

.settings-popup h1 {
    color: #F3DA91;
    margin-block-end: 0
}

.settings-popup h2 {
    margin-block-start: 10px;
    margin-block-end: 25px;
}

.popup-inner {
    background-color: #4B5683;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 650px;
    border-radius: 20px;
    padding: 0px;
    border: 3px solid white;
}

/* .popup-inner .close-btn {
    background-color: white;
    height: 60px;
    width: 60px;
    color: #4B5683;
    font-size: 30px;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 30px;
} */

.settings-popup h1 {
    color: #F3DA91;
    font-size: 50px;
    margin-top: 100px;
}

.settings-popup h2 {
    color: white;
    font-size: 30px;
}

.settings-container {
    display:flex;
    align-content: center;
    justify-content: center;
    color:#F3DA91;
    font-weight: 600;
    /* background-color: aquamarine; */
}

.vl {
    border-left: 5px solid #F3DA91;
}

.overall-volume,
.sfx-volume,
.music-volume,
.play-speed {
    display: flex;
    justify-content: left;
    align-items: left;
}

.play-speed button {
    align-items: center;
    background-color: #7F89B4;
    border: 0;
    border-radius: 80px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    line-height: 20px;
    min-height: 50px;
    min-width: 100px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    margin: 10px;
}

.play-speed button:hover {
    filter: brightness(100%);
    background-color: #F7DA86;
    color: #4B5683;
    border: solid #F7DA86 1px;
}

.div-adjustments {
    align-items: center;
    width: 100%;
    margin: 0 30% 0 10%;
    /* background-color: pink; */
}

.two-columns-grid {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* background-color: aliceblue; */
}

.two-columns-grid > * {
    padding:0rem;
}


.div-exit-buttons {
    align-items: end;
    float: right;
    width: fit-content;
    padding: 30px;
    padding-right: 0;
    /* background-color: purple; */
    margin: 0 10% 0 5%;
}

.div-exit-buttons button {
    align-items: center;
    background-color: #7F89B4;
    border: 0;
    border-radius: 80px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    line-height: 20px;
    min-height: 50px;
    min-width: 160px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    margin: 10px 0 10px 0;
}

.div-exit-buttons button:hover {
    filter: brightness(100%);
    background-color: #F7DA86;
    color: #4B5683;
    border: solid #F7DA86 1px;
}

.back-btn {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 80px;
    left: 80px;
    font-size: 50px;
    background-color: #7F89B4;
    color: white;
    border-radius: 50%;
    padding: 0;
}

.placing-btn {
    position: absolute;
    height: 115px;
    width: 115px;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    background-color: #7F89B4;
    border-radius: 50%;
    padding: 0;
}

.bubble-top-left {
    position: absolute;
    height: 226px;
    width: 210px;
    top: 50px;
    left: 50px;
}

.bubble-bot-right {
    position: absolute;
    height: 179px;
    width: 134px;
    bottom: 50px;
    right: 50px;
}

.settings-color {
    padding-left: 20px;
    vertical-align: middle;
    /* background-color: black; */
}

.settings-header {
    /* background-color: pink; */
    height: fit-content;
}
