.settings-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #7D87B8;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}

.popup-inner {
    background-color: #4B5683;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 550px;
    border-radius: 20px;
    padding: 0px;
}

.popup-inner .close-btn {
    position: absolute; 
    top: 16px;
    left: 16px;
}

.settings-popup h1 {
    color: #F3DA91;
    font-size: 50px;
}

.settings-popup h2 {
    color: white;
    font-size: 30px;
}

.settings-container {
    display:flex;
    align-content: center;
    justify-content: center;
    color:#F3DA91;
    font-weight: 600;
}

.vl {
    border-left: 5px solid #F3DA91;
}

.settings-container button {
    align-items: center;
    background-color: #7F89B4;
    border: 0;
    border-radius: 80px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    line-height: 20px;
    min-height: 50px;
    min-width: 160px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
}

.settings-container button:hover {
    filter: brightness(100%);
    background-color: #F7DA86;
    color: #4B5683;
}

.div-adjustments {
    align-items: center;
    width: 100%;
}

.div-exitbuttons {
    align-items: center;
    width: 40%;
    padding: 30px;
}