.tutorial-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.popup-inner {
    background-color: #4B5683;
    position: relative;
    width: calc(100% - 330px);
    height: calc(100vh - 210px);
    border-radius: 20px;
    padding: 0px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial-popup h1 {
    color: #F3DA91;
    font-size: 50px;
    margin-block-start: 0;
    margin-block-end: 10px;
}

.tutorial-content {
    display: flex;
    padding-right: 140px;
    padding-left: 140px;
    align-items: center;
    vertical-align: middle;
}

.how-to-play {
    width: 50px;
    padding: 0 0 10px 20px;
    vertical-align: middle;
}

.bubble-top-left {
    position: absolute;
    height: 226px;
    width: 210px;
    top: 50px;
    left: 120px;
}

.bubble-bot-right {
    position: absolute;
    height: 179px;
    width: 134px;
    bottom: 50px;
    right: 120px;
}

.placing-btn {
    position: absolute;
    height: 115px;
    width: 115px;
    bottom: 50px;
    right: 120px;
    background-color: #7F89B4;
    border-radius: 50%;
    padding: 0;
}

.close-btn {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 80px;
    left: 150px;
    font-size: 50px;
    background-color: #7F89B4;
    border-radius: 50%;
    padding: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/close_button.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}

.instruction {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9EDC8;
    border-radius: 20px;
    position: relative;
    width: 300px;
    height: calc(55vh - 80px);
    max-width: 40vw;
    padding: 35px 30px 30px 30px;
    font-weight: 600;
    color: #4B5683;
    font-size: 20px;
}

.tutorial-popup p {
    font-weight: lighter;
}

.board-image {
    height: 55vh;
    padding-right: 20px;
}

@media screen and (max-width: 1000px)  {
    
    .popup-inner {
        width: calc(100% - 350px);
        height: calc(100vh - 105px);
    }

    .tutorial-popup h1 {
        color: #F3DA91;
        font-size: 20px;
        margin-block-start: 0;
        margin-block-end: 10px;
    }

    .tutorial-content {
        display: flex;
        padding-right: 140px;
        padding-left: 140px;
        align-items: center;
        vertical-align: middle;
    }

    .how-to-play {
        width: 20px;
        padding: 0 0 5px 10px;
        vertical-align: middle;
    }

    .bubble-top-left {
        height: 113px;
        width: 105px;
        top: 25px;
        left: 120px;
    }

    .bubble-bot-right {
        height: 90px;
        width: 67px;
        bottom: 25px;
        right: 150px;
    }

    .placing-btn {
        height: 50px;
        width: 50px;
        bottom: 25px;
        right: 150px;
    }

    .close-btn {
        height: 50px;
        width: 50px;
        top: 40px;
        left: 150px;
    }

    .instruction {
        width: 100px;
        max-width: 40vw;
        font-size: 10px;
    }

    .board-image {
        height: 55vh;
        padding-right: 10px;
    }
}