.tutorial-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.bubble-top-left {
    position: absolute;
    height: 226px;
    width: 210px;
    top: 50px;
    left: 50px;
}

.bubble-bot-right {
    position: absolute;
    height: 179px;
    width: 134px;
    bottom: 50px;
    right: 50px;
}

.placing-btn {
    position: absolute;
    height: 115px;
    width: 115px;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    background-color: #7F89B4;
    border-radius: 50%;
    padding: 0;
}

.popup-inner {
    background-color: #4B5683;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1190px;
    max-height: 640px;
    border-radius: 20px;
    padding: 0px;
    border: 3px solid white;
}

.tutorial-popup h1 {
    color: #F3DA91;
    font-size: 50px;
    margin-block-end: 10px;
}

.tutorial-content {
    display: flex;
    padding-right: 140px;
    padding-left: 140px;
    align-items: center;
    vertical-align: middle;
}

.instruction {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9EDC8;
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 400px;
    max-width: 300px;
    max-height: 400px;
    padding: 30px;
    font-weight: 600;
    color: #4B5683;
    font-size: 20px;
}

.how-to-play {
    width: 50px;
    padding: 0 0 10px 20px;
    vertical-align: middle;
}

.board-image {
    width: 500px;
    height: 500px;
    flex: 1;
}